<div class="flex-row space-between">
  <h1>Anlagenverzeichnis</h1>
  <button nz-button nzType="primary" (click)="newOpen = true">Neu</button>
</div>

<nz-card [nzBordered]="false">
  <nz-table #nestedTable [nzData]="registerOfAssets" [nzShowPagination]="false">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Kaufdatum</th>
      <th>Brutto Betrag</th>
      <th>Netto Betrag</th>
      <th>Abschreibungsdauer</th>
      <th>Restbuchwert</th>
      <th>Aktiv</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nestedTable.data">
        <tr>
          <td [(nzExpand)]="data.expand"></td>
          <td>{{ data.data.name }}</td>
          <td>{{ formatDate(data.data.purchaseDate) }}</td>
          <td>{{ formatMoney(data.data.grossAmount) }}</td>
          <td>{{ formatMoney(data.data.netAmount) }}</td>
          <td>{{ data.data.depreciationDuration }} Jahre</td>
          <td>{{ formatMoney(data.data.netRemainingBlockValue) }}</td>
          <td>
            <span>{{ data.data.active ? 'Ja' : 'Nein' }}</span>
          </td>
          <td><a *ngIf="data.data.active" class="save" (click)="openSellAsset(data.data)">Verkaufen</a></td>
        </tr>
        <tr [nzExpand]="data.expand">
          <nz-table #innerTable [nzData]="data.data.depreciations" nzSize="middle" [nzShowPagination]="false">
            <thead>
              <tr>
                <th>Jahr</th>
                <th>Abschreibungsbetrag</th>
                <th>Restbuchwert</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let innerData of innerTable.data">
                <td>{{ innerData.year }}</td>
                <td>{{ formatMoney(innerData.netDepreciationAmount) }}</td>
                <td>{{ formatMoney(innerData.netRemainingBlockValue) }}</td>
              </tr>
            </tbody>
          </nz-table>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>

<nz-drawer [nzVisible]="newOpen" nzWidth="100%" [nzClosable]="false" [nzKeyboard]="false" (nzOnClose)="closeNew()" [nzCloseOnNavigation]="false" [nzMaskClosable]="false">
  <app-new-asset (cancel)="newOpen=false"></app-new-asset>
</nz-drawer>

<nz-drawer [nzVisible]="!!sellAsset" nzWidth="100%" [nzClosable]="false" [nzKeyboard]="false" (nzOnClose)="closeSellAsset()" [nzCloseOnNavigation]="false" [nzMaskClosable]="false">
  <app-sell-asset (cancel)="sellAsset=undefined"></app-sell-asset>
</nz-drawer>


<div class="flex-row space-between" style="margin-top: 20px">
  <h1>Jährliche Abschreibungen</h1>
  <button nz-button nzType="primary" (click)="newYearlyOpen = true">Neu</button>
</div>

<nz-drawer [nzVisible]="newYearlyOpen" nzWidth="100%" [nzClosable]="false" [nzKeyboard]="false" (nzOnClose)="closeNewYearly()" [nzCloseOnNavigation]="false" [nzMaskClosable]="false">
  <app-new-yearly-depreciation (done)="handleNewYearDone($event)"></app-new-yearly-depreciation>
</nz-drawer>
