<h2>Verkaufen</h2>
<form nz-form [formGroup]="sellForm" (ngSubmit)="submitForm($event)">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="sellDate">Verkaufsdatum</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Verkaufsdatum ist ein Pflichtfeld!">
      <nz-date-picker formControlName="sellDate"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="grossAmount">Brutto Betrag</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input type="text" nz-input formControlName="grossAmount">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <div class="button-container">
        <button nz-button nzType="danger" (click)="handleCancel()">Abbrechen</button>
        <button nz-button nzType="primary" [nzLoading]="saving">Speicher</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
