<form nz-form [nzLayout]="'inline'" [formGroup]="filterForm">
  <nz-form-item>
    <nz-select formControlName="selectedYear" nzPlaceHolder="Select a year" style="width: 140px" (ngModelChange)="refresh()">
      <nz-option *ngFor="let year of years" [nzLabel]="year" [nzValue]="year"></nz-option>
    </nz-select>
  </nz-form-item>
  <nz-form-item>
    <nz-select formControlName="selectedQuarter" nzPlaceHolder="Select a Quarter" style="width: 140px" (ngModelChange)="refresh()">
      <nz-option nzLabel="Quartal 1" [nzValue]="1"></nz-option>
      <nz-option nzLabel="Quartal 2" [nzValue]="2"></nz-option>
      <nz-option nzLabel="Quartal 3" [nzValue]="3"></nz-option>
      <nz-option nzLabel="Quartal 4" [nzValue]="4"></nz-option>
    </nz-select>
  </nz-form-item>
</form>
<nz-table #editRowTable nzBordered [nzData]="records" nzTableLayout="fixed" nzPageSize="50" style="margin-top: 20px">
  <thead>
  <tr>
    <th nzWidth="4%">lfd. Nr.</th>
    <th nzWidth="8%">Datum</th>
    <th nzWidth="6%">Beleg</th>
    <th nzWidth="8%">Rev. charge</th>
    <th nzWidth="25%">Gegenstand</th>
    <th nzWidth="9%">Steuersatz</th>
    <th nzWidth="10%">Brutto Betrag</th>
    <th nzWidth="10%">Netto Betrag</th>
    <th nzWidth="20%">Kategorie</th>
    <th nzWidth="10%">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of editRowTable.data" [data]="data" [onUpdate]="handleUpdate"  [onDelete]="handleDelete" (download)="startDownload($event)" app-accounting-table-row>
  </tr>
  </tbody>
</nz-table>
