<h2>Hinzufügen</h2>
<form nz-form [formGroup]="newForm" (ngSubmit)="submitForm($event)">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="year">Jahr</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Jahr ist ein Pflichtfeld!">
      <input type="text" nz-input formControlName="year" (ngModelChange)="newYear$.next($event)">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <div class="button-container">
        <button nz-button nzType="danger" (click)="handleCancel()">Abbrechen</button>
        <button nz-button nzType="primary" [nzLoading]="saving" (click)="add()" cy-data="save-afs">Speicher</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
<nz-descriptions *ngIf="!!simulated" [nzColumn]="1" nzTitle="Zusammenfassung">
  <nz-descriptions-item nzTitle="Einnahmen" [nzSpan]="1">{{ formatTotalRevenue() }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Ausgaben" [nzSpan]="1">{{ formatTotalExpenditure() }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Ergebnis" [nzSpan]="1"><strong>{{ simulated ? formatMoney(simulated.result) : '' }}</strong></nz-descriptions-item>
</nz-descriptions>
<nz-divider></nz-divider>
<nz-descriptions *ngIf="!!simulated" [nzColumn]="1" nzTitle="Details">
  <nz-descriptions-item *ngFor="let position of positions" [nzTitle]="position.key" [nzSpan]="1">{{ formatMoney(position.gross) }}</nz-descriptions-item>
</nz-descriptions>
