<ng-container *ngIf="!editing; else editTemplate" >
  <td>{{ data.runningNumber }}</td>

  <td>{{ formatBookingDate(data.bookingDate) }}</td>
  <td>
    <nz-tag>{{ data.receiptType }}</nz-tag>
  </td>
  <td>{{ data.reverseCharge ? 'Ja' : 'Nein' }}</td>
  <td>{{ data.name }}</td>
  <td>{{ data.taxRate }}</td>
  <td>
    {{ formatMoney({amount: data.grossAmount, currency: 'EUR'}) }}
  </td>
  <td>{{ formatMoney({amount: calculateNetAmount(data.grossAmount, data.taxRate), currency: 'EUR'}) }}</td>
  <td>
    <nz-tag [nzColor]="getColorForTag(data)">{{ translateCategory(data.category) }}</nz-tag>
  </td>
  <td>
    <a (click)="startDownload()">Rechnung</a>
    <a (click)="startEdit()" style="margin-left: 10px">Ändern</a>
    <a nz-popconfirm nzCancelText="Abbrechen" nzTitle="Wirklich löschen?" (nzOnConfirm)="deleteRecord()" style="margin-left: 10px">Löschen</a>
  </td>
</ng-container>
<ng-template #editTemplate>
    <td>{{ data.runningNumber }}</td>
    <td><nz-date-picker [(ngModel)]="editBookingDate" nzFormat="dd.MM.yyyy"></nz-date-picker></td>
    <td>
      <nz-select [(ngModel)]="editCache.receiptType">
        <nz-option nzValue="CASH" nzLabel="Kassa"></nz-option>
        <nz-option nzValue="BANK" nzLabel="Bank"></nz-option>
      </nz-select>
    </td>
    <td>
      <label nz-checkbox [(ngModel)]="editCache.reverseCharge"
             (ngModelChange)="reverseChargeChanged($event)"></label>
    </td>
    <td><input type="text" nz-input [(ngModel)]="editCache.name"/></td>
    <td><input type="text" nz-input [value]="editCache.taxRate"
               (blur)="editCache.taxRate = parseInt($event.target.value)"/></td>
    <td>
      <input type="text" nz-input [value]="formatMoney({amount: data.grossAmount, currency: 'EUR' })"
             (blur)="editCache.grossAmount = parseMoney($event)"/>
    </td>
    <td>{{ getNetAmount(data) }}</td>
    <td>
      <nz-select [(ngModel)]="editCache.category" style="width: 100%">
        <nz-option *ngFor="let category of categories" [nzValue]="category.key" [nzLabel]="category.label"></nz-option>
      </nz-select>
    </td>
    <td>
      <a (click)="cancelEdit()" class="save">Abbrechen</a>
      <a nz-popconfirm nzCancelText="Abbrechen" nzTitle="Wirklich speichern?" (nzOnConfirm)="saveEdit()" style="margin-left: 10px">Speichern</a>
    </td>
</ng-template>

