<div class="flex-row space-between">
  <h1>Erklärung</h1>
  <button nz-button nzType="primary" (click)="newOpen = true">Neu</button>
</div>
<nz-card [nzBordered]="false" >
  <nz-table #annualCompletionTable nzBordered [nzData]="annualCompletions" nzTableLayout="fixed" nzPageSize="50" style="margin-top: 20px">
    <thead>
    <tr>
      <th nzWidth="60%">Jahr</th>
      <th nzWidth="20%">Finanzonline</th>
      <th nzWidth="20%"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of annualCompletionTable.data">
      <td>{{ data.year }}</td>
      <td>
        <span *ngIf="data.taxAuthoritySubmitted">Ja</span>
        <button *ngIf="!data.taxAuthoritySubmitted" nz-button nz-button nzType="primary">erledigt</button>
      </td>
      <td><a (click)="showDetails(data)" class="save">Details</a></td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
<nz-drawer [nzVisible]="newOpen" nzWidth="100%" [nzClosable]="false" [nzKeyboard]="false" (nzOnClose)="closeNew()" [nzCloseOnNavigation]="false" [nzMaskClosable]="false">
  <app-vat-new-annual-completion (cancel)="newOpen=false"></app-vat-new-annual-completion>
</nz-drawer>

<nz-drawer [nzVisible]="detailsOpen" [nzWidth]="640" [nzClosable]="false" (nzOnClose)="closeDetails()">
  <app-vat-annual-completion-details [details]="details"></app-vat-annual-completion-details>
</nz-drawer>
