<h2>Hinzufügen</h2>
<form nz-form [formGroup]="newForm" (ngSubmit)="submitForm($event)">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input type="text" nz-input formControlName="name">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="purchaseDate">Kaufdatum</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Jahr ist ein Pflichtfeld!">
      <nz-date-picker formControlName="purchaseDate"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="grossAmount">Brutto Betrag</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input type="text" nz-input formControlName="grossAmount">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="netAmount">Netto Betrag</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input type="text" nz-input formControlName="netAmount">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="depreciationDuration">Abschreibungsdauer</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input type="text" nz-input formControlName="depreciationDuration">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <div class="button-container">
        <button nz-button nzType="danger" (click)="handleCancel()">Abbrechen</button>
        <button nz-button nzType="primary" [nzLoading]="saving">Speicher</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
