<nz-layout class="app-layout flex-row h-center v-center fill-height">
  <nz-card style="width:500px;" nzTitle="Login">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm(this.$event)">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div class="flex-row button-container">
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" nzLoading="{{ loading }}">Log in</button>
      </div>
      <nz-alert *ngIf="error" nzType="error" nzMessage="{{error}}"></nz-alert>
    </form>
  </nz-card>

</nz-layout>
