<div class="flex-row space-between">
  <h1>Buchhaltung</h1>
  <button nz-button nzType="primary" (click)="openNew()">Neu</button>
</div>

<nz-card [nzBordered]="false">
 <app-accounting-table></app-accounting-table>
</nz-card>

<nz-drawer [nzVisible]="newOpen" nzWidth="100%" [nzClosable]="false" [nzKeyboard]="false" (nzOnClose)="closeNew()" [nzCloseOnNavigation]="false" [nzMaskClosable]="false">
  <app-new-accounting-record (cancelEmitter)="closeNew()" (successEmitter)="handleNewSuccess()"></app-new-accounting-record>
</nz-drawer>
