<h2>Hinzufügen</h2>
<form nz-form [formGroup]="newForm" (ngSubmit)="submitForm($event)">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="receiptType">Kategorie</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Pflichtfeld!">
      <nz-select formControlName="category">
        <nz-option *ngFor="let category of categories" [nzValue]="category.key" [nzLabel]="category.label"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="bookingDate">Datum</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Datum ist ein Pflichtfeld!">
      <nz-date-picker nzFormat="dd.MM.yyyy" formControlName="bookingDate"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired  nzFor="description">Gegenstand</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Gegenstand ist ein Pflichtfeld!">
      <input nz-input formControlName="description" [nzAutocomplete]="descriptionAuto" (ngModelChange)="handleDescriptionChange($event)"/>
      <nz-autocomplete #descriptionAuto (selectionChange)="descriptionSelected($event)">
        <nz-auto-option *ngFor="let option of descriptionSuggestions" [nzValue]="option" [nzLabel]="option.name">{{ option.name }}</nz-auto-option>
      </nz-autocomplete>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="receiptType">Beleg</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Beleg ist ein Pflichtfeld!">
      <nz-select formControlName="receiptType" >
        <nz-option nzValue="CASH" nzLabel="Kassa"></nz-option>
        <nz-option nzValue="BANK" nzLabel="Bank"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="receiptType">Reverse Charge</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <label nz-checkbox formControlName="reverseCharge"></label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="grossAmount">Brutto Betrag</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input type="text" nz-input formControlName="grossAmount">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="taxRate">Steuersatz</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input type="text" nz-input formControlName="taxRate">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Netto Betrag</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <span>{{ netAmount }}</span>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">Rechnung</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-upload [(nzFileList)]="receipt" [nzBeforeUpload]="beforeUpload" [nzMultiple]="false">
        <button nz-button type="button"><i nz-icon nzType="upload"></i>Auswählen</button>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <div class="button-container">
        <button nz-button nzType="danger" (click)="cancel()">Abbrechen</button>
        <button nz-button nzType="primary" [nzLoading]="saving">Speicher</button>
      </div>
    </nz-form-control>
  </nz-form-item>

</form>
