<div class="flex-row space-between">
  <h1>Voranmeldung</h1>
  <button nz-button nzType="primary" (click)="newOpen = true">Neu</button>
</div>
<nz-card [nzBordered]="false" >
  <nz-select *ngIf="!selectableYearsLoading" [(ngModel)]="selectedYear" style="width:300px" (ngModelChange)="selectedYear$.next($event)">
    <nz-option *ngFor="let year of selectableYears" [nzValue]="year" [nzLabel]="year"></nz-option>
  </nz-select>
  <nz-skeleton-element *ngIf="selectableYearsLoading" nzType="input" nzActive="true" style="width:300px"></nz-skeleton-element>
  <nz-table #preRegistrationsTable nzBordered [nzData]="preRegistrations" nzTableLayout="fixed" nzPageSize="50" style="margin-top: 20px">
    <thead>
    <tr>
      <th nzWidth="60%">Interval</th>
      <th nzWidth="20%">Finanzonline</th>
      <th nzWidth="20%"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of preRegistrationsTable.data">
      <td>{{ formatInterval(data) }}</td>
      <td>
        <span *ngIf="data.taxAuthoritySubmitted">Ja</span>
        <button *ngIf="!data.taxAuthoritySubmitted" nz-button nz-button nzType="primary">erledigt</button>
      </td>
      <td><a (click)="showDetails(data)" class="save">Details</a></td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>
<nz-drawer [nzVisible]="newOpen" nzWidth="100%" [nzClosable]="false" [nzKeyboard]="false" (nzOnClose)="closeNew()" [nzCloseOnNavigation]="false" [nzMaskClosable]="false">
  <app-vat-new-pre-registration (cancel)="newOpen=false"></app-vat-new-pre-registration>
</nz-drawer>

<nz-drawer [nzVisible]="detailsOpen" [nzWidth]="640" [nzClosable]="false" (nzOnClose)="closeDetails()">
  <app-vat-pre-registration-details [details]="details"></app-vat-pre-registration-details>
</nz-drawer>
