<div class="flex-row space-between">
  <h1>Jahresabschluss</h1>
  <button nz-button nzType="primary" (click)="newOpen = true" cy-data="new-afs">Neu</button>
</div>
<nz-card [nzBordered]="false" >
  <nz-table #annualFinancialStatementsTable nzBordered [nzData]="annualFinancialStatements" nzTableLayout="fixed" nzPageSize="50" style="margin-top: 20px" [nzShowPagination]="false">
    <thead>
    <tr>
      <th nzWidth="30%">Jahr</th>
      <th nzWidth="30%">Ergebnis</th>
      <th nzWidth="20%">Finanzonline</th>
      <th nzWidth="20%"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of annualFinancialStatementsTable.data">
      <td>{{ data.year }}</td>
      <td>
        <nz-tag [nzColor]="getColorForResult(data.result)">{{ formatResult(data) }}</nz-tag>
      </td>
      <td>
        <span *ngIf="data.taxAuthoritySubmitted">Ja</span>
        <button *ngIf="!data.taxAuthoritySubmitted" nz-button nz-button nzType="primary" (click)="markDone(data.id)">erledigt</button>
      </td>
      <td><a (click)="showDetails(data)" class="save">Details</a></td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

<nz-drawer [nzVisible]="newOpen" nzWidth="100%" [nzClosable]="false" [nzKeyboard]="false" (nzOnClose)="closeNew()" [nzCloseOnNavigation]="false" [nzMaskClosable]="false">
  <app-new-annual-financial-statement (done)="handleDone($event)"></app-new-annual-financial-statement>
</nz-drawer>

<nz-drawer [nzVisible]="!!details" [nzWidth]="300" [nzClosable]="false" (nzOnClose)="closeDetails()">
  <app-annual-financial-statements-details [details]="details"></app-annual-financial-statements-details>
</nz-drawer>
